@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('../source/fonts/TTLakes-Italic'),
        url('../source/fonts/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Italic.woff') format('woff'),
        url('../source/fonts/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* ../source/fonts/ */
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-ExtraLight.eot');
    src: local('TT Lakes Condensed ExtraLight'), local('../source/fonts/TTLakesCondensed-ExtraLight'),
        url('../source/fonts/TTLakesCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-ExtraLight.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('../source/fonts/TTLakesCompressed-Regular'),
        url('../source/fonts/TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Regular.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-ThinItalic.eot');
    src: local('TT Lakes Compressed Thin Italic'), local('../source/fonts/TTLakesCompressed-ThinItalic'),
        url('../source/fonts/TTLakesCompressed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-ThinItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('../source/fonts/TTLakesCondensed-Medium'),
        url('../source/fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Medium.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-ExtraBoldItalic.eot');
    src: local('TT Lakes Compressed ExtraBold Italic'), local('../source/fonts/TTLakesCompressed-ExtraBoldItalic'),
        url('../source/fonts/TTLakesCompressed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-ExtraBoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-ExtraLightItalic.eot');
    src: local('TT Lakes ExtraLight Italic'), local('../source/fonts/TTLakes-ExtraLightItalic'),
        url('../source/fonts/TTLakes-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-ExtraLightItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-LightItalic.eot');
    src: local('TT Lakes Light Italic'), local('../source/fonts/TTLakes-LightItalic'),
        url('../source/fonts/TTLakes-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-LightItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Thin.eot');
    src: local('TT Lakes Thin'), local('../source/fonts/TTLakes-Thin'),
        url('../source/fonts/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Thin.woff') format('woff'),
        url('../source/fonts/TTLakes-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-DemiBoldItalic.eot');
    src: local('TT Lakes DemiBold Italic'), local('../source/fonts/TTLakes-DemiBoldItalic'),
        url('../source/fonts/TTLakes-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-DemiBoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Black.eot');
    src: local('TT Lakes Condensed Black'), local('../source/fonts/TTLakesCondensed-Black'),
        url('../source/fonts/TTLakesCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Black.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-LightItalic.eot');
    src: local('TT Lakes Condensed Light Italic'), local('../source/fonts/TTLakesCondensed-LightItalic'),
        url('../source/fonts/TTLakesCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-LightItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-DemiBold.eot');
    src: local('TT Lakes Condensed DemiBold'), local('../source/fonts/TTLakesCondensed-DemiBold'),
        url('../source/fonts/TTLakesCondensed-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-DemiBold.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-ExtraBold.eot');
    src: local('TT Lakes Compressed ExtraBold'), local('../source/fonts/TTLakesCompressed-ExtraBold'),
        url('../source/fonts/TTLakesCompressed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-ExtraBold.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-ExtraBoldItalic.eot');
    src: local('TT Lakes ExtraBold Italic'), local('../source/fonts/TTLakes-ExtraBoldItalic'),
        url('../source/fonts/TTLakes-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-ExtraBoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-ExtraLight.eot');
    src: local('TT Lakes ExtraLight'), local('../source/fonts/TTLakes-ExtraLight'),
        url('../source/fonts/TTLakes-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-ExtraLight.woff') format('woff'),
        url('../source/fonts/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('../source/fonts/TTLakesCondensed-Bold'),
        url('../source/fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Bold.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-ThinItalic.eot');
    src: local('TT Lakes Condensed Thin Italic'), local('../source/fonts/TTLakesCondensed-ThinItalic'),
        url('../source/fonts/TTLakesCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-ThinItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-ExtraBoldItalic.eot');
    src: local('TT Lakes Condensed ExtraBold Italic'), local('../source/fonts/TTLakesCondensed-ExtraBoldItalic'),
        url('../source/fonts/TTLakesCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-ExtraBoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Medium.eot');
    src: local('TT Lakes Compressed Medium'), local('../source/fonts/TTLakesCompressed-Medium'),
        url('../source/fonts/TTLakesCompressed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Medium.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Thin.eot');
    src: local('TT Lakes Condensed Thin'), local('../source/fonts/TTLakesCondensed-Thin'),
        url('../source/fonts/TTLakesCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Thin.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Italic.eot');
    src: local('TT Lakes Compressed Italic'), local('../source/fonts/TTLakesCompressed-Italic'),
        url('../source/fonts/TTLakesCompressed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Italic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Light.eot');
    src: local('TT Lakes Compressed Light'), local('../source/fonts/TTLakesCompressed-Light'),
        url('../source/fonts/TTLakesCompressed-Light.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Light.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-LightItalic.eot');
    src: local('TT Lakes Compressed Light Italic'), local('../source/fonts/TTLakesCompressed-LightItalic'),
        url('../source/fonts/TTLakesCompressed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-LightItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('../source/fonts/TTLakesCondensed-Regular'),
        url('../source/fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Regular.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Light.eot');
    src: local('TT Lakes Condensed Light'), local('../source/fonts/TTLakesCondensed-Light'),
        url('../source/fonts/TTLakesCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Light.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('../source/fonts/TTLakes-Bold'),
        url('../source/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Bold.woff') format('woff'),
        url('../source/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('../source/fonts/TTLakes-DemiBold'),
        url('../source/fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-DemiBold.woff') format('woff'),
        url('../source/fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Thin.eot');
    src: local('TT Lakes Compressed Thin'), local('../source/fonts/TTLakesCompressed-Thin'),
        url('../source/fonts/TTLakesCompressed-Thin.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Thin.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Black.eot');
    src: local('TT Lakes Black'), local('../source/fonts/TTLakes-Black'),
        url('../source/fonts/TTLakes-Black.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Black.woff') format('woff'),
        url('../source/fonts/TTLakes-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-MediumItalic.eot');
    src: local('TT Lakes Medium Italic'), local('../source/fonts/TTLakes-MediumItalic'),
        url('../source/fonts/TTLakes-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-MediumItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-ExtraBold.eot');
    src: local('TT Lakes Condensed ExtraBold'), local('../source/fonts/TTLakesCondensed-ExtraBold'),
        url('../source/fonts/TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-ExtraBold.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-ExtraLightItalic.eot');
    src: local('TT Lakes Condensed ExtraLight Italic'), local('../source/fonts/TTLakesCondensed-ExtraLightItalic'),
        url('../source/fonts/TTLakesCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-ExtraLightItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('../source/fonts/TTLakes-Medium'),
        url('../source/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Medium.woff') format('woff'),
        url('../source/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-DemiBoldItalic.eot');
    src: local('TT Lakes Condensed DemiBold Italic'), local('../source/fonts/TTLakesCondensed-DemiBoldItalic'),
        url('../source/fonts/TTLakesCondensed-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-DemiBoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-BoldItalic.eot');
    src: local('TT Lakes Compressed Bold Italic'), local('../source/fonts/TTLakesCompressed-BoldItalic'),
        url('../source/fonts/TTLakesCompressed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-BoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-ExtraLightItalic.eot');
    src: local('TT Lakes Compressed ExtraLight Italic'), local('../source/fonts/TTLakesCompressed-ExtraLightItalic'),
        url('../source/fonts/TTLakesCompressed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-ExtraLightItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('../source/fonts/TTLakes-Regular'),
        url('../source/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Regular.woff') format('woff'),
        url('../source/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-BoldItalic.eot');
    src: local('TT Lakes Bold Italic'), local('../source/fonts/TTLakes-BoldItalic'),
        url('../source/fonts/TTLakes-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-BoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-MediumItalic.eot');
    src: local('TT Lakes Condensed Medium Italic'), local('../source/fonts/TTLakesCondensed-MediumItalic'),
        url('../source/fonts/TTLakesCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-MediumItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-Italic.eot');
    src: local('TT Lakes Condensed Italic'), local('../source/fonts/TTLakesCondensed-Italic'),
        url('../source/fonts/TTLakesCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-Italic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-ThinItalic.eot');
    src: local('TT Lakes Thin Italic'), local('../source/fonts/TTLakes-ThinItalic'),
        url('../source/fonts/TTLakes-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-ThinItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-DemiBold.eot');
    src: local('TT Lakes Compressed DemiBold'), local('../source/fonts/TTLakesCompressed-DemiBold'),
        url('../source/fonts/TTLakesCompressed-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-DemiBold.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-BlackItalic.eot');
    src: local('TT Lakes Black Italic'), local('../source/fonts/TTLakes-BlackItalic'),
        url('../source/fonts/TTLakes-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-BlackItalic.woff') format('woff'),
        url('../source/fonts/TTLakes-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Bold.eot');
    src: local('TT Lakes Compressed Bold'), local('../source/fonts/TTLakesCompressed-Bold'),
        url('../source/fonts/TTLakesCompressed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Bold.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-BlackItalic.eot');
    src: local('TT Lakes Condensed Black Italic'), local('../source/fonts/TTLakesCondensed-BlackItalic'),
        url('../source/fonts/TTLakesCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-BlackItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-MediumItalic.eot');
    src: local('TT Lakes Compressed Medium Italic'), local('../source/fonts/TTLakesCompressed-MediumItalic'),
        url('../source/fonts/TTLakesCompressed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-MediumItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../source/fonts/TTLakesCondensed-BoldItalic.eot');
    src: local('TT Lakes Condensed Bold Italic'), local('../source/fonts/TTLakesCondensed-BoldItalic'),
        url('../source/fonts/TTLakesCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCondensed-BoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-ExtraLight.eot');
    src: local('TT Lakes Compressed ExtraLight'), local('../source/fonts/TTLakesCompressed-ExtraLight'),
        url('../source/fonts/TTLakesCompressed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-ExtraLight.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('../source/fonts/TTLakes-ExtraBold'),
        url('../source/fonts/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-ExtraBold.woff') format('woff'),
        url('../source/fonts/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-DemiBoldItalic.eot');
    src: local('TT Lakes Compressed DemiBold Italic'), local('../source/fonts/TTLakesCompressed-DemiBoldItalic'),
        url('../source/fonts/TTLakesCompressed-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-DemiBoldItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-BlackItalic.eot');
    src: local('TT Lakes Compressed Black Italic'), local('../source/fonts/TTLakesCompressed-BlackItalic'),
        url('../source/fonts/TTLakesCompressed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-BlackItalic.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../source/fonts/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('../source/fonts/TTLakes-Light'),
        url('../source/fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakes-Light.woff') format('woff'),
        url('../source/fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../source/fonts/TTLakesCompressed-Black.eot');
    src: local('TT Lakes Compressed Black'), local('../source/fonts/TTLakesCompressed-Black'),
        url('../source/fonts/TTLakesCompressed-Black.eot?#iefix') format('embedded-opentype'),
        url('../source/fonts/TTLakesCompressed-Black.woff') format('woff'),
        url('../source/fonts/TTLakesCompressed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

